{% extends 'base.html.twig' %}

{% block title %}Virtuality
{% endblock %}

{% block body %}

	<section id="cgu">
	
		<h1>CONDITIONS GENERALES DE VENTE ET D’UTILISATION DE VIRTUALITY</h1>

		<h4>Article 1 : CHAMP D’APPLICATION – OPPOSABILITÉ</h4>

		<p>Ce site n’est qu’un projet réalisé par des étudiants pour des fins éducatifs et non à but lucratif.</p>

		<p>Le fait d’effectuer une Réservation sur le Site emporte adhésion et acceptation pleine et entière des présentes Conditions Générales, ce que reconnaît expressément le Client, qui renonce notamment à se prévaloir de tout document contradictoire, qui serait inopposable à VIRTUALITY. Les Présentes Conditions Générales s’appliquent à tout Client ainsi qu’à toute personne bénéficiant de la Réservation faite par le Client (ci-après « Utilisateur »).</p>

		<p>Les Conditions Générales sont accessibles à tout moment sur le Site et prévaudront, le cas échéant, sur toute autre version antérieure ou tout autre document contradictoire. Le Client dispose de la faculté de demander à ce que les Conditions Générales lui soient envoyées par VIRTUALITY par courrier électronique. Il peut également les sauvegarder, les éditer ou les copier, étant précisé que la sauvegarde, l’édition ou la copie de ce document relèvent de sa seule responsabilité, ces Conditions Générales  pouvant être susceptibles de subir des modifications. Dans tous les cas, les Conditions Générales  applicables sont celles en vigueur à la date de la commande du Client.</p>

		<p>VIRTUALITY se réserve la possibilité de modifier à tout moment les présentes Conditions Générales. Les modifications des Conditions Générales sont opposables aux utilisateurs du Site à compter de la date de leur mise en ligne et s’appliquent aux transactions conclues postérieurement.</p>

		<p>Pour l’application des Conditions Générales, le Client et VIRTUALITY seront dénommés collectivement « les Parties » et individuellement « la Partie ».</p>

		<h4>Article 2 : COMMANDE</h4>

		<p>Il appartient au Client de sélectionner sur le Site les Réservations qu’il désire commander, selon les modalités ci-après définies.</p>

		<p>2.1. Navigation à l’intérieur du Site</p>

		<p>Le Client peut prendre connaissance des différentes Réservations proposées par VIRTUALITY sur son Site.
		</p>

		<p>Le Client peut naviguer librement sur les différentes pages du Site, sans pour autant être engagé au titre d’une commande.</p>

		<p>Les offres de Réservations s’entendent dans la limite des disponibilités des salles de jeux, ce que le Client reconnaît et accepte.</p>

		<p>2.2. Enregistrement d’une commande</p>

		<p>Le Client peut passer commande auprès de VIRTUALITY sur le Site à tout moment.</p>

		<p>Le client doit ensuite choisir sa date et son horaire sur la page de réservation. Le client doit sélectionner le nombre personne à réserver. Le montant total de la commande est affiché et actualisé en fonction du choix du client. Le client doit appuyer ensuite sur le bouton « Réserver » afin de poursuivre le processus de réservation.</p>

		<p>Il convient ensuite de renseigner les champs obligatoires que sont le nom, le prénom, la date de naissance et l’adresse email. Un récapitulatif de la commande sera envoyé par mail.</p>

		<p>Le Client se doit de vérifier l’exhaustivité et la conformité des renseignements qu’il fournit à VIRTUALITY. Cette dernière ne saurait être tenue responsable d’éventuelles erreurs de saisie par le Client.</p>

		<p>2.3. Validation définitive de la commande</p>

		<p>Après avoir pris connaissance récapitulatif de commande par mail, et une fois que l’ensemble des informations demandées aura été complété par le Client, cliquera sur « Payer en ligne » ou « Payer hors ligne » pour un règlement sur place. Ce clic constitue une signature électronique et une acceptation des conditions générale de vente de VIRTUALITY. Cette signature a valeur entre les Parties au même titre qu’une signature manuscrite. Le bon de commande sera enregistré sur les registres informatiques de VIRTUALITY, eux-mêmes conservés sur un support fiable et durable, et sera considéré comme preuve des relations contractuelles intervenues entre les Parties.
		</p>

		<p>Le Client procédera au paiement des Réservations dans les conditions de l’Article 5 des présentes Conditions Générales.</p>

		<p>Dès que le Client valide sa réservation, la commande est enregistrée et devient irrévocable jusqu’à 48 heures avant la réservation.</p>

		<p>2.4. Récapitulatif de la commande</p>

		<p>Lorsqu’il aura réservé sur le Site, un récapitulatif de la commande du Client sera envoyé par mail et mentionnera notamment le numéro de la transaction. La vente et la réservation ne sera considérée comme définitive qu’après l’affichage du récapitulatif de la commande par VIRTUALITY, lequel vaut accusé de réception de la commande. Soit il sera automatiquement envoyé au Client un courrier électronique récapitulant la commande enregistrée, sous réserve que l’adresse indiquée dans le formulaire d’identification ne comporte pas d’erreur et soit valide, soit le récapitulatif de la commande pourra être imprimé et enregistré par le Client après la validation de sa commande.</p>

		<p>2.5. Généralités</p>

		<p>Sauf preuve contraire, les données enregistrées par VIRTUALITY constituent la preuve de l’ensemble des transactions.</p>

		<p>En tout état de cause, VIRTUALITY se réserve le droit de refuser toute commande en cas (i) de litige existant avec le Client, (ii) de non-paiement total ou partiel d’une commande précédente par le Client, (iii) de refus d’autorisation de paiement par carte bancaire des organismes bancaires. La responsabilité de VIRTUALITY ne pourra alors être engagée.</p>

		<h4>Article 3 : UTILISATION DES SALLES DE JEUX</h4>

		<p>Selon le principe même du jeu, VIRTUALITY accorde au Client et à l’Utilisateur le droit d’occuper la salle de jeux pour la durée défini sur la réservation.</p>

		<p>L’admission dans les salles de jeux n’est possible que sur présentation de l’email de confirmation de réservation, envoyé au Client après le processus de paiement.</p>

		<p>Le Client et l’Utilisateur sont tenus de maintenir les salles de jeux et l’intégralité des équipements en bon état et de les utiliser conformément à l’usage autorisé. Par ailleurs, le Client et l’Utilisateur sont tenus d’utiliser les salles de jeux et les équipements de sorte à n’occasionner ou risquer de n’occasionner aucun dommage aux autres utilisateurs, aux locaux et matériels de VIRTUALITY.
		</p>

		<p>Durant toute leur présence au sein des locaux de VIRTUALITY, le Client et l’Utilisateur s’engagent à se comporter de façon respectable, à se conformer aux règles et à coopérer avec le personnel de VIRTUALITY.
		</p>

		<p>En raison de la nature des jeux, aucun enregistrement ne peut être effectué dans les salles de jeux par le Client et l’Utilisateur. Ainsi, l’utilisation d’appareils d’enregistrement vidéo et/ou audio (cela inclut notamment et sans s’y limiter : téléphones mobiles, caméras, Go Pro) est formellement interdite. Toute utilisation d’appareil de ce type pourra occasionner l’arrêt complet du jeu.</p>

		<p>Le Client et l’Utilisateur s’engagent à prendre connaissance et respecter les consignes de sécurité et protection incendie, de même que les issues de secours. Celles-ci sont clairement identifiées dans le local de VIRTUALITY. Il est à ce titre formellement interdit de gêner les issues de secours, lesquelles doivent rester dégagées en toute circonstance.</p>

		<p>Le Client et l’Utilisateur sont au fait qu’il est absolument interdit d’apporter dans les locaux et dans les salles de jeux des objets considérés comme des dangers physiques (explosif, inflammable, gaz sous pression ou liquéfié, corrosif) et dangereux pour la santé (toxique, corrosif pour la peau, irritant/sensibilisant, cancérogène/tératogène).</p>

		<h4>Article 4 : PRIX</h4>

		<p>Les Réservations sont commercialisées aux prix en vigueur indiqués sur le Site, lors de la passation de la commande. Les prix mentionnés sur le Site sont indiqués en Euros, Toutes Taxes Comprises (TTC) et tiennent compte des éventuelles offres promotionnelles. Les prix tiennent compte de la T.V.A. française applicable au jour de la commande.
		</p>

		<p>VIRTUALITY se réserve le droit de modifier ses prix à tout moment.</p>

		<p>Le prix indiqué dans le bon de commande édité par VIRTUALITY est le prix définitif.</p>

		<h4>Article 5 : FACTURATION ET PAIEMENT</h4>

		<p>5.1. Paiement</p>

		<p>Le prix de la commande est payable comptant, en totalité au jour de la passation de la commande ou sur place le jour de la prestation par le Client. Le paiement n’est considéré comme exécuté qu’après encaissement effectif du montant de la commande par VIRTUALITY.</p>

		<p>Le Client règle sa commande en ligne ou sur place. En cas de paiement par carte bancaire, le Client est automatiquement basculé sur le serveur monétique MangoPay via MyRezApp. Le serveur de la banque fait l’objet d’une sécurisation par son terminal de paiement électronique de manière à protéger le plus efficacement possible toutes les données liées aux moyens de paiement. A aucun moment les données de la carte bancaire du Client ne transiteront sur le système informatique de VIRTUALITY, qui ne pourra donc voir sa responsabilité engagée en cas de soustraction frauduleuse des données bancaires du Client. La transaction est immédiatement débitée sur la carte bancaire du Client après vérification des données de celle-ci. Dans le cas où le débit du prix serait impossible, la commande serait annulée automatiquement.
		</p>

		<p>VIRTUALITY met en œuvre tous les moyens nécessaires pour assurer la sécurité et la confidentialité des données transmises en ligne via le site de reservation MyRezApp. Dans ce but, le dernier utilise un mode sécurisé de paiement SSL (Secure Socket Layer) qui permet le cryptage des coordonnées bancaires du Client lors de leur transmission sur le réseau. Dans le cadre d’une procédure de vérification des commandes destinée à s’assurer qu’aucune personne n’utilise les coordonnées bancaires d’une autre personne à son insu, il pourra être demandé au Client d’adresser par tout moyen électronique à VIRTUALITY une copie d’une pièce d’identité ainsi qu’un justificatif de domicile. Dans ce cas, la commande ne sera validée qu’après réception et vérification par VIRTUALITY des pièces envoyées.
		</p>

		<p>5.2. Facturation</p>

		<p>Le bon de commande que le Client établit en ligne ou la confirmation de commande envoyée par courrier électronique au Client par VIRTUALITY ne fait pas office de facture.</p>

		<p>Une facture peut être établie par VIRTUALITY et remise au Client ensuite de la validation de la commande sur demande.</p>

		<h4>ARTICLE 6 : DROIT DE RETRACTATION</h4>

		<p>En application de l’article L 221-18 du Code de la consommation, en cas de contrat conclu à distance, le Client dispose d’un délai de rétractation de 14 jours à compter de la passation de la commande dans les conditions de l’article 2 des présentes Conditions Générales de Vente.</p>

		<p>Pour exercer le droit de rétractation, le Client doit notifier à VIRTUALITY sa décision de rétractation au moyen d’une déclaration dénuée d’ambiguïté, par lettre recommandée avec accusé de réception à l’adresse indiquée en tête des présentes ou par email à l’adresse courriel suivante  virtuality255@gmail.com .</p>

		<p>En cas de rétractation, VIRTUALITY rembourse au Client tout paiement qu’elle a reçu relativement à la commande concernée, sans retard excessif et, en tout état de cause, dans les quatorze (14) jours francs suivants la date à laquelle VIRTUALITY a été informée de la décision du Client de se rétracter. VIRTUALITY procède au remboursement en utilisant le même moyen de paiement que celui utilisé par le Client pour le paiement initial, sauf accord contraire entre les Parties. Ce remboursement n’occasionnera pas de frais pour le Client.</p>

		<p>Conformément à l’article L 221-28 du Code de la consommation, le droit de rétractation ne peut être exercé pour les commandes de Réservations qui se réalisent avant la fin du délai de rétractation, pour lesquelles le Client accepte expressément que l’exécution commence avant l’expiration du délai légal de rétractation et renonce expressément à son droit de rétractation.</p>

		<h4>ARTICLE 7 : OBLIGATIONS DU CLIENT</h4>

		<p>VIRTUALITY rappelle que les mineurs non émancipés sont incapables de contracter. Par conséquent, les commandes destinées aux mineurs doivent être passées par la personne titulaire de l’autorité parentale. De même, lorsqu’un mineur souhaite bénéficier d’une Réservation, il doit être accompagné d’une personne majeure.
			<br>
			Le Client reconnaît qu’il est le titulaire du moyen de paiement qu’il utilise pour passer sa commande.
		</p>

		<h4>ARTICLE 8 : RESPONSABILITE</h4>

		<p>VIRTUALITY rappelle que les mineurs non émancipés sont incapables de contracter. Par conséquent, les commandes destinées aux mineurs doivent être passées par la personne titulaire de l’autorité parentale. De même, lorsqu’un mineur souhaite bénéficier d’une Réservation, il doit être accompagné d’une personne majeure.
			<br>
			Le Client reconnaît qu’il est le titulaire du moyen de paiement qu’il utilise pour passer sa commande.
		</p>

		<p>8.1.   	En cas de doute sur l’interprétation d’une clause ou en l’absence de mention permettant de déterminer l’étendue des obligations de VIRTUALITY, le Client reconnaît que les obligations de VIRTUALITY s’entendront comme des obligations de moyens.</p>

		<p>8.2.   	VIRTUALITY ne peut en aucun cas voir sa responsabilité engagée à l’égard du Client lorsque les Réservations réalisées sont conformes à celles commandées. La conformité à la commande s’apprécie par référence à la commande.</p>

		<p>8.3.   	VIRTUALITY ne pourra, en aucun cas, voir sa responsabilité engagée en cas d’informations manquantes ou erronées transmises par le Client.</p>

		<p>8.4.   	VIRTUALITY assure la disponibilité et la continuité du Site, étant entendu que VIRTUALITY ne saurait en aucun cas être tenue responsable de toute interruption du Site pour cause de maintenance, des problèmes techniques, d’encombrement du réseau Internet ou de la défaillance de tout autre système de télétransmission, qui pourraient empêcher le fonctionnement du Site.</p>

		<p>8.5.   	Toute contestation par le Client de la bonne exécution par VIRTUALITY de ses obligations contractuelles devra être motivée et faire l’objet d’une lettre recommandée avec accusé de réception adressée au plus tard dans l’année de la date de découverte des faits susceptibles de fonder ladite réclamation.
			<br>
			Le défaut de procéder ainsi vaut renonciation de la part du Client à critiquer la bonne exécution par VIRTUALITY de ses obligations contractuelles.
		</p>

		<h4>ARTICLE 9 : INFORMATIQUES ET LIBERTES</h4>

		<p>VIRTUALITY dispose de moyens informatiques destinés à gérer ses fichiers clients-prospects et met en œuvre des traitements de données à caractère personnel, au sens de la loi n°78-17 Informatique & Libertés du 6 janvier 1978 telle que modifiée.
					A défaut, VIRTUALITY ne sera pas en mesure de traiter la commande et/ou de créer le compte du Client.
					Les traitements réalisés par VIRTUALITY ont pour finalités principales d’assurer la bonne réalisation des Prestations, d’améliorer la qualité du service, de communiquer des informations relatives aux services et offres exceptionnelles qui pourraient intéresser le Client et ainsi mieux répondre à ses attentes.
					Les informations enregistrées sont réservées à l’usage des services concernés et ne seront en aucun cas communiquées à d’éventuels partenaires.
					Le cas échéant, les données personnelles du Client pourront être utilisées à des fins de prospection commerciale par voie électronique, par VIRTUALITY, sous réserve d’avoir obtenu l’accord préalable et express du Client au moyen de cases à cocher sur le formulaire d’identification du Client.
					Conformément à la règlementation, le Client dispose d’un droit d’accès, de rectification, d’effacement et de portabilité de ses données, un droit à la limitation du traitement et un droit à l’opposition au traitement des données personnelles qui le concernent.
					Le Client peut exercer ses droits en contactant VIRTUALITY à l’adresse suivante : virtuality255@gmail.com . Il dispose également du droit d’introduire une réclamation auprès d’une autorité de contrôle, ainsi que du droit de définir des directives relatives au sort de ses données à caractère personnel après sa mort.
					Les données à caractère personnel du Client sont conservées confidentiellement par VIRTUALITY pendant une durée de deux ans mais peuvent être conservées plus longtemps pour des raisons d’archivage légal.
		</p>

		<h4>ARTICLE 10 : CONFIDENTIALITE</h4>

		<p>Chacune des Parties considère comme strictement confidentiels et s’interdit de divulguer toute information, donnée, document de l’autre Partie qui sont mises à sa disposition sous quelque forme que ce soit (écrite, orale, par supports magnétiques, électroniques, informatiques, etc.) à l’occasion du contrat formé conformément à l’article 2 (ci-après « Informations Confidentielles ») pendant une durée de deux (2) années à compter de leur divulgation.
					Aucune des Parties ne divulguera d’Information Confidentielle concernant l’autre à un tiers sans le consentement exprès et écrit de cette autre Partie, et ne fera usage d’aucune Information Confidentielle autrement que pour l’exécution du contrat. Chaque Partie doit apporter le même degré de précaution à la non-divulgation d’Informations Confidentielles que celui qu’elle apporte à ses propres Informations Confidentielles.
					Les Informations Confidentielles ne comprennent pas les informations :
					généralement disponibles au public ou connues de celui-ci,
					connues antérieurement du destinataire,
					développées indépendamment par le destinataire en dehors du champ du contrat formé conformément à l’article 2,
					divulguées licitement par un tiers, ou à l’occasion d’un témoignage devant une autorité compétente.
		</p>

		<h4>ARTICLE 11 : PROPRIETE INTELLECTUELLE</h4>

		<p>L’intégralité du contenu du Site (textes, commentaires, illustrations, images, vidéos, graphiques, sonores, etc., y compris les technologies sous-jacentes utilisées) sont la propriété exclusive de VIRTUALITY et/ou de ses partenaires et sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle.
					Toute reproduction totale ou partielle du contenu du Site, des marques déposées par VIRTUALITY et/ou par ses partenaires, est strictement interdite et est susceptible de constituer un délit de contrefaçon.
					Le Client s’interdit d’utiliser, de reproduire, de représenter de quelque manière que ce soit les éléments figurant sur le Site. Il s’engage à ne pas porter atteinte, directement ou indirectement, aux droits de propriété intellectuelle de VIRTUALITY. Le Client s’engage à ne pas utiliser à d’autres fins que le suivi des Réservations, le Site et ses composants, directement ou indirectement, à quelque titre, sous quelque forme et pour quelque cause que ce soit.
		</p>

		<h4>ARTICLE 12 : RESILIATION</h4>

		<p>VIRTUALITY a le droit de résilier le contrat sans préavis, par lettre recommandée avec accusé de réception :
					en cas de force majeure,
					en cas de non-respect de son obligation de paiement par le Client après l’envoi d’une mise en demeure de régulariser la situation restée infructueuse.</p>

		<h4>ARTICLE 13 : FORCE MAJEURE</h4>

		<p>Aucune des deux Parties n’aura failli à ses obligations contractuelles, dans la mesure où leur exécution sera retardée, entravée ou empêchée par un cas fortuit ou une force majeure.
					Sera considéré comme cas fortuit ou force majeure tous faits ou circonstances irrésistibles, extérieurs aux Parties, imprévisibles, inévitables, indépendants de la volonté des Parties et qui ne pourra être empêché par ces dernières, malgré tous les efforts raisonnablement possibles.
					De façon expresse, sont notamment considérés comme cas de force majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : les grèves totales ou partielles, internes ou externes à l’entreprise, les restrictions gouvernementales ou légales, les pannes logicielles, l’arrêt des réseaux de télécommunication.
					La Partie touchée par de telles circonstances en avisera l’autre dans les dix (10) jours ouvrables suivant la date à laquelle elle en aura eu connaissance.
					Les Parties se rapprocheront alors, dans un délai d’un (1) mois, sauf impossibilité due au cas de force majeure, pour examiner l’incidence de l’événement et convenir des conditions dans lesquelles l’exécution du contrat sera poursuivie.
					Si le cas de force majeure a une durée supérieure à deux (2) mois, le contrat pourra être résilié par l’une ou l’autre des Parties.
		</p>

		<h4>ARTICLE 14 : NON VALIDITE PARTIELLE</h4>

		<p>Si une ou plusieurs stipulations des présentes Conditions Générales de Vente sont tenues pour non valides ou déclarées comme telles en application d’une loi, d’un règlement ou à la suite d’une décision passée en force de chose jugée d’une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.</p>

		<h4>ARTICLE 15 : INTEGRALITE DU CONTRAT</h4>

		<p>Les présentes Conditions Générales et le récapitulatif de la commande transmis au Client forment un ensemble contractuel et constituent l’intégralité des relations contractuelles intervenues entre les Parties.</p>

		<h4>ARTICLE 16 : DROIT APPLICABLE ET TRIBUNAL COMPETENT</h4>

		<p>Les présentes Conditions Générales et opérations qui y sont visées sont régies par le droit français.
					En cas de litige entre VIRTUALITY et un Client, une solution amiable sera recherchée entre les Parties. Le Client est informé de la possibilité de recourir gratuitement, en cas de contestation, à une procédure de médiation conventionnelle proposée par VIRTUALITY ou à tout autre mode alternatif de règlement des différends.
					En cas de différend entre les Parties né à l’occasion de  l’interprétation  ou  de  l’exécution  d’un  Contrat,
					compétence  exclusive  sera  attribuée  au  Tribunal  de Commerce de Strasbourg, même en cas de référé, d’appel en garantie ou de pluralité de défendeurs. Conformément à l’article L 612-2 du Code de la consommation, l’une des conditions préalables à l’examen du litige par le médiateur est la suivante : le Client doit justifier avoir tenté de résoudre préalablement son litige directement auprès de VIRTUALITY, par une réclamation portée par courrier ou courrier électronique.
					A défaut d’accord dans un délai de 2 mois à compter de la notification du litige à l’autre Partie, tous les litiges auxquels le présent contrat pourrait donner lieu, concernant les opérations visées aux présentes, sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun.
		</p>

		<h4>ARTICLE 17 : PREUVE</h4>

		<p>En cas de litige, les Parties acceptent de considérer l’email comme un écrit original valant preuve parfaite et renoncent à contester ce moyen de preuve, sauf à discuter son authenticité.
		</p>

	</section>

{% endblock %}
