{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section>
    <h1 id="titre">Virtuality</h1>
    <img src="/img/1.jpeg" alt="" id="background">
</section>
<section>
    <h2>Nos jeux</h2>
    <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>
</section>
{% endblock %}
