{% extends 'base.html.twig' %}

{% block title %}Virtuality
{% endblock %}

{% block body %}

	<section id="politique_confid">


		<h1>Politique de Confidentialité</h1>

		<p>La Présente Politique de Confidentialité s’applique aux données à caractère personnel (ci-après les « Données Personnelles ») des utilisateurs du Site Internet « virtuality » (ci-après le « Site »).</p>

		<h4>1. DONNÉES PERSONNELLES</h4>

		<p>L’ensemble des Données Personnelles collectées sur le Site sont traitées conformément à la réglementation applicable à la protection des Données Personnelles, en particulier le Règlement européen n°2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après le « RGPD »), ainsi que toute législation ou réglementation qui viendrait en complément ou en substitution du RGPD (ci-après la «Réglementation applicable aux Données Personnelles »).
			<br>
			Les traitements relatifs à vos Données Personnelles ainsi que leurs caractéristiques sont définis dans le tableau des traitements.</p>

		<h5>1.1. Qui traite vos Données Personnelles et qui y a accès ?</h5>

		<h5>1.1.1. Responsable du traitement</h5>

		<p>L’ensemble des Données Personnelles collectées sur le Site ou à l’occasion de la création de votre compte client sont traitées sous la responsabilité de VIRTUALITY.</p>

		<h5>1.1.2. Destinataires</h5>

		<p>Au sein de VIRTUALITY, et au regard de chaque traitement, vos Données Personnelles ne sont communiquées ou rendues accessibles qu’aux personnes auxquelles il est nécessaire de les communiquer pour les besoins et compte tenu de la finalité du traitement en cause.</p>

		<h5>1.1.3. Transfert de Données Personnelles hors Union Européenne</h5>

		<p>Par principe, vos Données Personnelles sont stockées au sein de serveurs localisés dans l’Union Européenne. Toutefois, nous sommes parfois amenés à transmettre certaines de vos Données Personnelles à des destinataires, tiers à VIRTUALITY, situés dans différents pays, y compris en dehors de l’Union Européenne. Lorsqu’ils existent, ces transferts de Données Personnelles vers des pays tiers à l’Union Européenne sont encadrés afin d’assurer un niveau de protection appropriée, soit par une décision de la Commission européenne (décision d’adéquation), soit par le biais d’instruments juridiques tels que des contrats de transferts de données.
			<br>
			Pour toute demande concernant les transferts de Données Personnelles que nous effectuons en dehors de l’Union Européenne, vous pouvez nous contacter à l’adresse : virtuality255@gmail.com
		</p>

		<h5>1.2. Quelles sont les catégories de Données Personnelles que nous collectons et pour quelle(s) finalité(s)?</h5>

		<p>Conformément à la Réglementation applicable aux Données Personnelles, nous ne traitons vos Données Personnelles que si l’une des conditions suivantes est remplie :
			<br><br>
			• Le traitement de vos Données Personnelles est nécessaire à l’exécution d’un contrat auquel vous êtes partie, et notamment l’exécution de votre commande sur le Site, ou à l’exécution de mesures précontractuelles prises à votre demande ;
			<br><br>
			• Le traitement de vos Données Personnelles est nécessaire au respect d’une obligation légale qui nous incombe ;<br><br>
			• Le traitement de vos Données Personnelles est nécessaire à la poursuite de nos intérêts légitimes ;<br><br>
			• Vous avez expressément consenti au traitement de vos Données Personnelles pour une ou plusieurs finalités spécifiques.<br><br>
			Les Données Personnelles traitées par nos soins sont listées par finalité dans le tableau des traitements. Nous ne traitons vos Données Personnelles que pour les finalités déterminées et au regard des bases légales qui sont portées à votre connaissance dans ce tableau.<br>
			Veuillez noter que pour bénéficier de certains services et fonctions sur le Site ou afin de pouvoir recevoir des communications de notre part, il vous sera demandé de communiquer certaines Données Personnelles à titre obligatoire via des formulaires de collecte. Le caractère obligatoire des réponses est signalé au moyen d’un astérisque (*). Les données identifiées comme étant obligatoires sont nécessaires afin de pouvoir bénéficier des fonctionnalités correspondantes du Site, du service demandé ou de l’envoi de communications commerciales. A défaut de remplir ces champs vous ne pourrez pas obtenir le service demandé.<br><br>
			Vous êtes seul responsable de l’exactitude des Données Personnelles communiquées.
		</p>

		<h5>1.3. Combien de temps conservons-nous vos Données Personnelles ?</h5>

		<p>Nous ne conservons vos Données Personnelles que pour la durée qui est strictement nécessaire au regard de la finalité du traitement. Pour chaque traitement, ces durées sont indiquées dans le tableau des traitements.</p>

		<h5>1.4. Comment vos Données Personnelles sont-elles protégées ?</h5>

		<p>Nous nous engageons à protéger vos Données Personnelles. Pour ce faire, nous veillons à prendre toutes les mesures physiques, techniques et organisationnelles utiles pour faire obstacle à tout traitement non autorisé ou illicite, ainsi qu’à toute perte, destruction ou dégradation accidentelle de vos Données Personnelles.</p>

		<h5>1.5. Quels sont vos droits ?</h5>

		<p>Vous disposez d’un droit d’accès, de rectification, d’effacement, de limitation, d’opposition concernant le traitement de vos Données Personnelles ainsi que du droit de définir des directives relatives au sort de vos données après votre mort et du droit à la portabilité de vos Données Personnelles en formulant votre demande à l’adresse virtuality255@gmail.com, dans les conditions posées par la Réglementation applicable aux Données Personnelles. Vous devez indiquer quel droit vous entendez exercer ainsi que l’ensemble des précisions nécessaires pour que nous puissions répondre à votre demande.
			<br><br>
			Ces droits s’exercent dans les conditions posées par la Réglementation applicable aux Données Personnelles.<br><br>
			• Le droit d’accès signifie que vous pouvez nous demander à tout moment de vous indiquer si nous traitons des données personnelles vous concernant et, le cas échéant, de vous indiquer quelles sont les Données Personnelles concernées ainsi que les caractéristiques du ou des traitements effectués.<br><br>
			• Le droit de rectification signifie que vous pouvez nous demander la rectification de vos Données Personnelles lorsqu’elles sont inexactes. Vous pouvez également demander à ce que de vos Données Personnelles, dès lors qu’incomplètes, soient complétées dans la mesure où cela est pertinent au regard de la finalité du traitement en cause.<br><br>
			• Le droit à l’effacement signifie que vous pouvez demander d’effacer vos Données Personnelles notamment lorsque : (i) leur conservation n’est plus nécessaire au regard des finalités pour lesquelles elles ont été collectées (ii) vos Données Personnelles sont traitées sur le fondement de votre consentement, vous souhaitez retirer ce consentement, et il n’existe pas d’autre fondement juridique susceptible de justifier le traitement (iii) vous vous êtes opposé au traitement de vos Données Personnelles et vous souhaitez en conséquence qu’elles soient effacées (iv) vos Données Personnelles ont fait l’objet d’un traitement illicite ; (v) vos Données Personnelles doivent être effacées pour respecter une obligation légale qui est prévue soit par le droit de l’Union Européenne soit par le droit français.<br><br>
			• Le droit à la limitation signifie que vous pouvez nous demander de procéder à la limitation du traitement de vos Données Personnelles (i) lorsque vous contestez l’exactitude de vos Données Personnelles pendant une durée nous permettant de vérifier l’exactitude de celles-ci, (ii) lorsque suite à un traitement établi comme non conforme, vous préférez la limitation du traitement à l’effacement complet de vos Données Personnelles (iii) lorsque nous n’avons plus besoin de vos Données Personnelles aux fins du traitement mais que celles-ci vous sont encore nécessaires pour la constatation, l’exercice ou la défense de droits en justice ; (iv) lorsque vous vous êtes opposé au traitement de vos Données Personnelles et vous souhaitez une limitation du traitement pendant la durée nous permettant de vérifier si le motif légitime que vous invoquez se justifie. La limitation du traitement signifie que le traitement de vos Données Personnelles s’entendra alors du seul stockage de vos Données Personnelles correspondantes. Nous n’effectuerons alors plus aucune autre opération sur vos Données Personnelles considérées.<br><br>
			• Le droit d’opposition signifie que vous pouvez vous opposer au traitement de vos Données Personnelles, lorsque ce traitement est fondé sur la poursuite de l’intérêt légitime d’VIRTUALITY. Le droit d’opposition s’exerce sous réserve de justifier d’un motif légitime tenant à votre situation particulière. Nous cesserons alors le traitement en cause sauf s’il existe des motifs légitimes et impérieux en justifiant la poursuite en conformité avec la Réglementation applicable aux Données Personnelles. Lorsque vos Données Personnelles sont traitées à des fins de prospection commerciale, vous pouvez vous opposer à tout moment au traitement de vos Données Personnelles à cette fin.<br><br>
			• Le droit de définir des directives relatives au sort de vos données après votre mort vous permet de faire connaître vos instructions concernant la conservation, l’effacement et la communication de vos Données Personnelles après votre décès.<br><br>
			• Le droit à la portabilité signifie que vous pouvez nous demander, dans les conditions posées par la Réglementation applicable aux Données Personnelles, de recevoir vos Données Personnelles dans un format structuré, couramment utilisé et lisible par machine, ou nous demander de les transmettre directement à un tiers de votre choix lorsque cela est juridiquement et techniquement possible.
																											Lorsque nous traitons vos Données Personnelles sur la base de votre consentement, vous disposez de la faculté de retirer votre consentement à tout moment en vous adressant à l’adresse virtuality255@gmail.com ou en cliquant sur le lien de désabonnement présent dans chacune de nos communications commerciales. Toutefois, le retrait de votre consentement ne remet pas en cause la validité du traitement effectué avant ce retrait.
		</p>

		<h4>2. COOKIES</h4>

		<h5>2.1. Qu’est-ce qu’un cookie ?</h5>

		<p>Un cookie est un traceur déposé sur votre terminal qui sert à enregistrer des informations relatives à votre consultation et votre navigation sur le Site.
			<br>
			Lorsque vous vous connectez au Site, nous pouvons être amenés à installer des cookies sur votre terminal.<br>
			Certains cookies sont indispensables à l’utilisation du Site (il s’agit des cookies dits « essentiels »), d’autres permettent de personnaliser les contenus affichés de réaliser des statistiques de fréquentation ou d’afficher des publicités.<br>
			Les cookies essentiels qui sont strictement nécessaires à la fourniture d’un service auquel vous souhaitez accéder ne nécessitent pas votre consentement préalable pour être utilisés.</p>

		<h5>2.2. Les cookies utilisés</h5>

		<p>Nous utilisons différents types de cookies :
			<br>
			• Les cookies dits techniques sont les cookies strictement nécessaires à votre navigation sur le Site ainsi que les cookies qui sont nécessaires au fonctionnement de certaines fonctionnalités spécifiques. Il s’agit notamment des cookies qui permettent de sauvegarder les informations entrées dans un formulaire sur le Site (comme les informations d’accès au compte par exemple) ainsi que des cookies de personnalisation de l’interface utilisateur (choix de la version du site proposé -Pays et Langue-).
			<br>
			• Les cookies publicitaires qui permettent de vous proposer des produits VIRTUALITY sur ou en dehors de notre site, en fonction de vos centres d’intérêts qui sont déterminés notamment sur la base de votre navigation antérieure (articles et pages déjà consultés ou recherchés). • Les cookies d’analyses et de mesures d’audience qui permettent d’analyser le trafic sur notre Site et d’effectuer des statistiques de fréquentation et analyser les parcours et éléments recherchés sur le site. A ce titre, nous analysons les pages les plus consultées et le taux de conversion.
		</p>

		<h5>2.3. Durée de conservation
		</h5>

		<p>Conformément aux recommandations de la CNIL, les cookies ne sont pas conservés plus de 13 mois.</p>

		<h5>2.4. Vos choix concernant les cookies</h5>

		<p>Lorsque vous visitez notre Site pour la première fois et qu’VIRTUALITY envisage de placer des cookies, autres que les cookies dits « essentiels » sur votre terminal, nous vous informons que nous utilisons des cookies à l’aide d’une bannière d’information. En continuant votre navigation sur le Site lors de l’affichage de cette bannière, vous consentez à ce que nous utilisions des cookies. Vous pouvez désactiver les cookies par l’intermédiaire des paramètres figurant au sein de son navigateur Internet. La procédure à suivre afin de désactiver les cookies est différente selon chaque navigateur. Vous trouverez ci-dessous les liens vers les pages pertinentes pour chacun des principaux navigateurs.</p>

		<p>Pour Internet Explorer :
			<br><br>
			https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies
			<br><br>
			Safari : http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html
			<br><br>
			Chrome : http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647
			<br><br>
			Firefox: http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies,<br>
		</p>
		<p>Pour désactiver les cookies sur votre smartphone, les indications sont disponibles sur les liens ci-dessous :
			<br><br>
			Pour iOS : https://support.apple.com/fr-fr/HT201265
			<br><br>
			Pour Android : https://support.google.com/chrome/topic/3434352
			<br><br>
		</p>

		<p>Vous pouvez également refuser l’enregistrement des cookies en modifiant les paramètres de votre navigateur Internet. Cette opération entraînera cependant la suppression de tous les cookies utilisés par le navigateur, y compris ceux employés par d’autres sites web, ce qui peut conduire à l’altération ou la perte de certains réglages ou informations et à rendre difficile la navigation sur le Site, voir impossible.
			<br>
			Vous pouvez également vous rendre sur le site suivant pour sélectionner les cookies que vous souhaitez désactiver : http://www.youronlinechoices.com/fr/controler-ses-cookies/
		</p>

		<h4>3. MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h4>

		<p>La présente Politique de confidentialité peut faire l’objet de mises à jour.
			<br>
			Lorsque vous nous avez transmis une adresse e-mail valide, nous vous informons de tout changement substantiel par e-mail et vous communiquons la nouvelle version de la Politique de confidentialité avant de mettre en œuvre le changement. Nous vous recommandons également de prendre régulièrement connaissance de la présente politique de confidentialité afin d’avoir une parfaite connaissance de nos engagements en matière de sécurité et de protection de vos Données Personnelles.</p>

		<h4>4. NOUS CONTACTER</h4>

		<p>Pour toute question concernant la présente politique de confidentialité ainsi que pour l’exercice de vos droits, vous pouvez nous contacter : virtuality255@gmail.com<br>
			Si la réponse apportée ne vous satisfait pas, vous disposez du droit d’introduire une réclamation auprès de l’autorité compétente, en France, la Commission Nationale de l’Informatique et des Libertés (« CNIL ») par courrier :<br>
			Commission Nationale de l’Informatique et des Libertés<br>
			3 Place de Fontenoy<br>
			TSA 80715<br>
			75334 PARIS CEDEX 07<br>
			– sur le site Internet de la CNIL : [www.cnil.fr](https://www.cnil.fr)<br>
		</p>


	</section>

{% endblock %}
