{% extends 'base.html.twig' %}

{% block title %}VIRTUALITY - Nouvelle réservation{% endblock %}

{% block body %}
    <h1>Nouvelle réservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}"><button class="butn">Voir la liste des reservation</button></a>


{% endblock %}
