{% extends 'base.html.twig' %}

{% block title %}Reserver{% endblock %}

{% block body %}

    <h1>Reserver</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">Voir la liste des reservation</a>

    </div>

{% endblock %}
