{% extends 'base.html.twig' %}

{% block title %}VIRTUALITY - Nouveau tournois{% endblock %}

{% block body %}
    <h1>Nouveau tournois</h1>

    {{ include('tournois/_form.html.twig') }}

    <a href="{{ path('tournois_index') }}"><button class="butn">Retour a la liste</button></a>
{% endblock %}
