<div class="vignette">

    <div class="vignette-content">
        <div>
            <p class="titre">{{ tournoi.jeu.titre }}</p>
            <p class="type">{{ tournoi.description }}</p>
            <p class="type">{{tournoi.prix}}</p>
        </div>
    </div>

</div>