{% extends 'base.html.twig' %}

{% block title %}Editer un Prix{% endblock %}

{% block body %}
    <h1>Editer un Prix</h1>

    {{ include('prix/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('prix_index') }}">Retour a la liste</a>

    {{ include('prix/_delete_form.html.twig') }}
{% endblock %}
