<div class="vignette">

    <div class="vignette-content">
        <div>
            <p class="titre">{{ tarif.titre }}</p>
            <p class="type">{{ tarif.montant }} €</p>
        </div>
    </div>

</div>