{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}
    <h1>Tout les jeux</h1>

    {% for jeu in jeux %}
        {% include "jeux/vignette.html.twig" %}
    {% endfor %}

{% endblock %}
