{% extends 'base.html.twig' %}

{% block title %}New Jeux{% endblock %}

{% block body %}
    <h1>Ajouter un jeu</h1>
    <div class="form">
    
    {{ include('jeux/_form.html.twig') }}
    </div>

    <a href="{{ path('jeux_index') }}">back to list</a>
{% endblock %}
