{% extends 'base.html.twig' %}

{% block title %}VIRTUALITY - Nouveau Jeu{% endblock %}

{% block body %}
    <h1>Ajouter un jeu</h1>
    
    {{ include('jeux/_form.html.twig') }}

    <a href="{{ path('jeux_index') }}"><button class="butn">Retour a la liste</button></a>
{% endblock %}
