{% extends 'base.html.twig' %}

{% block title %}Nouveau Jeu{% endblock %}

{% block body %}
    <h1>Ajouter un jeu</h1>
    <div class="form">
    
    {{ include('jeux/_form.html.twig') }}
    </div>

    <a href="{{ path('jeux_index') }}">Retour a liste</a>
{% endblock %}
