@import "./global.scss";

/*----------------------------------------FOOTER----------------------------------------*/
footer {
	text-align: center;
	font-family: $font-1; //sans-serif;
	font-weight: 400;
	font-size: 18px;
	background-color: $color-4;
	color: #edf0f1;
	position: absolute;
	bottom: 0;
	width: 100%;

	section {
		width: 50%;
		margin: 20px auto;
		display: flex;
		justify-content: space-between;

		.f:hover {
			color: #4267b2;
		}

		.t:hover {
			color: #1da1f2;
		}
		.i:hover {
			color: #833ab4;
		}
		.y:hover {
			color: #ff0000;
		}
	}

	a {
		color: #edf0f1;
		text-decoration: none;

		a:hover {
			color: #f205b3;
		}
	}

	p {
		padding: 15px;
	}

	hr {
		width: 80%;
	}
}
