@import "./global.scss";

/*----------------------------------------FOOTER----------------------------------------*/
footer {
	// margin-top: 5vh;
	text-align: center;
	font-family: $font-1; //sans-serif;
	font-weight: 400;
	font-size: 1em;
	// background-color: $color-4;
	color: #edf0f1;
	// height: 25vh; /* Footer height */
	// position: absolute;
	// bottom: 0;
	// width: 100%;

	// #footer {
	// 	//
	// 	//

	#logo {
		width: 10vw;
	}
	section {
		width: 50%;
		margin: 20px auto;
		display: flex;
		justify-content: space-around;

		.f:hover {
			color: #4267b2;
		}

		.t:hover {
			color: #1da1f2;
		}
		.i:hover {
			color: #833ab4;
		}
		.y:hover {
			color: #ff0000;
		}
	}

	a {
		color: #edf0f1;
		text-decoration: none;

		a:hover {
			color: #f205b3;
		}
	}

	p {
		padding: 15px;
	}

	hr {
		width: 80%;
	}
	// }
}

@media screen and (max-width: 660px) {
	
	.div_colonne {
		display: flex;
		// flex-direction: column;

		.socials{
			width: 50%;
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: auto;

			a {
				margin: 1vh;
			}
		}

		.footerLinks{
			width: 50%;
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: auto;

			a {
				margin: 1vh;
			}
			
			span {
				display: none;
			}
		}
	}
}
