//------------------------------Fonts

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

$font-1: "Play", sans-serif; // la font "play" : regular 400
$font-2: "Josefin Sans", serif; // la font "Josefin Sans" : regular 100



//-------------------------------Colors
$color-1: #f205b3;
$color-2: #2c04bf;
$color-3: #1b0273;
$color-4: #010440;
$color-6: #010326;

$white: #ddd;
$black: #37385875;

// ANIMATION MENU BURGER ETC

$font-size-base: 16px;
$dark-grey: #191919;
$menu-button-bar-height: 4px;
$menu-button-bar-width: $menu-button-bar-height * 8;
$menu-overlay-width: calc(30% - 4rem);

$transition-04s: all 0.4s ease;

$layer1: 1;
$layer2: 22;
$layer3: 33;


