

//------------------------------Fonts

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


$font-1: 'Play', sans-serif; // la font "play" : regular 400
$font-2: 'Josefin Sans', serif;// la font "Josefin Sans" : regular 100



//-------------------------------Colors
$color-1: #f205b3;
$color-2: #2C04BF;
$color-3: #1B0273;
$color-4: #010440;
$color-6: #010326;

$white: #ddd;
$black: #333;