@import "./global.scss";

#background {
	width: 100%;
	opacity: 0.9;
	background-color: black;
}
#background2{
	position: absolute;
	opacity: 0.4;
	background-color: black;
	margin-top: 2rem;
	z-index: -1;
	height: 100%;
}
#titre{
    font-family: $font-1;
    font-size: 7vw;
    color: #f1f1f1;
    position: absolute;
    top: 10vw;
	text-shadow: 2px 2px 20px $color-1;		
}
#ss-titre{
	position: absolute;
	top: 50vw;
	font-size: 3vw;
	text-shadow: 2px 2px 20px $color-1;		

}
//--------------------------section "Nos équipements"--------------------------

.index{
	// box-shadow: inset 0vh 0vh 50vh 30vh $color-6;
	z-index: -1;
	width: 100%;
}
.jeux{
	box-shadow: 0vh -20vh 30vh 20vh $color-6;
}
.equipement {
    box-shadow: inset 0vh 0vh 50vh 40vh $color-6;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin: 50px 30px 70px 30px;
}

h3 {
    font-size: 30px;
}

.box1 {
	display: flex;
	margin: 20px 80px;
	justify-content: space-between;
    
    p {
		text-align: justify;
	}

	.imgbox {
		width: 340px;
	}

	.pBox {
		animation-duration: 3s;
		animation-name: glissementDroit;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
        margin: 10%;

		@keyframes glissementDroit {
			from {
				transform: translate(-50%);
                opacity: 0%;
			}

			to {
				transform: translate(0%);
                opacity: 100%;
			}
		}
	}

    .pHall {
		animation-duration: 3s;
		animation-name: glissementGauche;
		animation-iteration-count: 1;
		animation-timing-function: ease-in-out;
        margin: 10%;

		@keyframes glissementGauche {
			from {
				transform: translate(50%);
                opacity: 0%;
			}

            to {
				transform: translate(0%);
                opacity: 100%;
			}
		}
            
    }

}

    

