@import './global.scss';


body {
    font-family: $font-1;
    
    header{
        nav{
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-3;
            a{
                margin: 0 20px 0 20px;
                padding: 10px;
                border: black 1px solid;
                border-radius: 5px;
                background-color: $color-6;
                color: #7A2C65;
            }
            a:hover{
                color: #f1f1f1;
            }
            p{
                box-sizing: border-box;
                height: 100%;
            }
        }
        .burger-nav{
            display: flex;
            justify-content: space-around;
        }
    }
}