@import "./global.scss";
$font-size-base: 16px;
$dark-grey: #191919;
$menu-button-bar-height: 4px;
$menu-button-bar-width: $menu-button-bar-height * 8;
$menu-overlay-width: calc(30% - 4rem);

$transition-04s: all 0.4s ease;

$layer1: 1;
$layer2: 22;
$layer3: 33;

body {
	font-family: $font-1;
}
.links{
	font-size: 30px;
	&:hover{
		transition: $transition-04s;
		color: $color-1;
	}
	
}
.logo {
	position: fixed;
	top: 1.3rem;
	left: 2rem;
	z-index: $layer3;
}
.ouverture {
	text-align: center;
	width: 100%;
	position: fixed;
	top: 2rem;
	// left: 44%;
	transition: $transition-04s;
	&.reduce{
		transition: $transition-04s;
		width: 70%;
	}
}
.logs{
	position: fixed;
	top: 2rem;
	left: 13rem;
	z-index: $layer3;
	a{
		&:hover{
			transition: $transition-04s;
			color: $color-1;
		}
	}
}
.main-width{
	transition: $transition-04s;
	width: 100%;
	&.reduce{
		transition: $transition-04s;
		width: 70%;
		#titre{
			top: 6vw;
			transition: $transition-04s;
		}
		#ss-titre{
			top: 30vw;
			transition: $transition-04s;
			width: 70%;
		}
	}
}
.footer-width{
	transition: $transition-04s;
	width: 100%;
	&.reduce{
		transition: $transition-04s;
		width: 70%;
	}
}
.nav-login{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 3rem;
	a{
		margin: 15px 0;
	}
}
.nav {
	position: absolute;
	top: 15rem;
	display: flex;
	flex-direction: column;
	a{
		margin: 15px 0;
	}
}
.menu-button {
	width: $menu-button-bar-width;
	cursor: pointer;
	z-index: $layer3;
	display: block;
	height: calc(
		#{$menu-button-bar-height * 3} + #{$menu-button-bar-height * 2}
	);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__wrapper {
		position: fixed;
		top: 1rem;
		right: 2rem;
		z-index: $layer3;
		width: 3rem;
		height: 3rem;
		&:hover{
			.menu-button__bar{
				transition: $transition-04s;
				background-color: $color-1;
			}
		}
	}

	&__bar {
		background-color: #f1f1f1;
		height: $menu-button-bar-height;
		width: $menu-button-bar-width;
		display: block;
		position: absolute;
		transition: $transition-04s;
		&:nth-of-type(2) {
			top: $menu-button-bar-height * 2;
		}
		&:nth-of-type(3) {
			top: $menu-button-bar-height * 4;
		}
	}

	&.active {
		
		.menu-button__bar {
			transform: translateY(8px) rotate(45deg);
			&:nth-of-type(2) {
				transform: translateX(2rem);
				opacity: 0;
				visibility: hidden;
			}
			&:nth-of-type(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
	}
}

.menu-overlay {
	background-color: $color-6;
	height: 100vh;
	width: $menu-overlay-width;
	right: 0;
	top: 0;
	position: fixed;
	padding: 8rem 2rem;
	visibility: hidden;
	opacity: 0;
	transition: $transition-04s;
	transform: translateX(100%);
	z-index: $layer2;

	&.open {
		visibility: visible;
		opacity: 0.8;
		transform: translateX(0%);
		box-shadow: 10px 0px 50px $color-1;
	}
}

.background-overlay {
	//   background-color: rgba($color: $dark-grey, $alpha: 0.5);
	width: 100%;
	height: 100vh;
	z-index: $layer1;
	opacity: 0;
	transition: $transition-04s;
	position: fixed;

	&.bg-overlay {
		opacity: 1;
	}
}

.button {
	text-decoration: none;
	font-size: 2rem;
	padding: 1rem 2rem;
	color: white;
	background-color: $dark-grey;
	align-self: flex-start;
	transition: $transition-04s;

	&:hover {
		background-color: rgba($color: $dark-grey, $alpha: 0.75);
	}
}

.content {
	max-width: 1440px;
	padding: 0 2rem;
}

