{% extends 'base.html.twig' %}

{% block title %}Nos tarifs{% endblock %}

{% block body %}
    <h1>Nos tarifs</h1>
    {% for tarif in tarifs %}
        {% include "prix/vignette.html.twig" %}
    {% endfor %}


{% endblock %}
