{% extends 'base.html.twig' %}

{% block title %}Nos tournois
{% endblock %}

{% block body %}
<img src="/img/esport1.png" alt="" class="background">
	<h1>Nos tournois</h1>
	<div class="descTournoi">
		<p>Voici la listes des tournois disponible prochainement dans notre etablissement. L'inscription à un tournois est payant et vous devez avoir au <span>minimum 13 ans</span> pour pouvoir y participer.</p>
		<p>Les tournois débuteront à leur date respective à <span>20h</span> et ce termineront théoriquement vers <span>00h</span>. Pour remporter un prix, vous devez terminer parmis les trois meilleurs participants.</p>
		<p>Le prix est divisé sur le podium, par exemple pour un tournois avec 100€ de prix, le premier recevra 50€, le second 30€ et le troisième 20€.</p>
	</div>
	<div class="vignette-container">
		{% for tournoi in tournois %}
			{% include "tournois/vignette.html.twig" %}
		{% endfor %}
	</div>

{% endblock %}
