<section class="wrapper">
	<h1>FAQ</h1>
	
	<div class="liste-item">
		<input class="trigger-input" id="faq-titre-1" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-1">
				<h2 class="faq-titre">Est-il possible de réserver par téléphone ?</h2>
			</label>
			<p class="faq-contenu">Uniquement s'il s'agit d'une réservation pour un <strong>évènement</strong> spéciale qui nécéssite la privatisation de la salle.<br>
            Pour une réservation ordianaire, il est uniquement possible de <strong>réserver en ligne</strong> car cela vous permettra de voire les places disponibles à temps réel. <br>
            Prévoyez les fortes affluences lors des <strong>week-end et les jours fériés</strong>.</p>
		</div>
	</div>
	
	<div class="liste-item">
		<input class="trigger-input" id="faq-titre-2" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-2">
				<h2 class="faq-titre">Pendant ma session, j'ai accès à combien de jeux ?</h2>
			</label>
			<p class="faq-contenu">Pendant votre session <strong>d'une heure</strong> vous avez accès à tous les jeux diponibles. Et vous pouvez changer de jeu au tant que vous le voulez.</p>
		</div>
	</div>
	
	<div class="liste-item">
		<input class="trigger-input" id="faq-titre-3" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-3">
				<h2 class="faq-titre">Les personnes à mobiliée réduite peuvent-il accéder à vos espaces ?</h2>
			</label>
			<p class="faq-contenu">Oui, notre espace respect tous les normes et est accessible aux <strong>personnes à mobilités réduite</strong>.</p>
		</div>
	</div>

    <div class="liste-item">
		<input class="trigger-input" id="faq-titre-4" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-4">
				<h2 class="faq-titre">Puis-je garder mes lunnettes pendant ma session ?</h2>
			</label>
			<p class="faq-contenu">Il est <strong>possible que vous gardiez vos lunnettes de vue</strong> pendant la session. Néanmoins, pour une question de comfort, un petit test sera fait afin de voir si la monture de vos lunnettes est convenable au casque.</p>
		</div>
	</div>

    <div class="liste-item">
		<input class="trigger-input" id="faq-titre-5" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-5">
				<h2 class="faq-titre">Vos jeux provoquent-ils la nausée ?</h2>
			</label>
			<p class="faq-contenu">Non, nos jeux sont spécialement choisis pour ne pas provoquer la nausée ou autres types de gêne. Cependant, nous déconseillons une expérience de type réalité virtuelle aux <strong>personnes souffrant d'épilpsie</strong></p>
		</div>
	</div>

    <div class="liste-item">
		<input class="trigger-input" id="faq-titre-6" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-6">
				<h2 class="faq-titre">Est-il obligatoire de choisir le jeu lors de la réservation ?</h2>
			</label>
			<p class="faq-contenu">Non, nous n'exigeons pas de connaître vos choix de jeux lors de la réservation. Le choix se fera une fois <strong>sur place</strong>. </p>
		</div>
	</div>

    <div class="liste-item">
		<input class="trigger-input" id="faq-titre-7" type="checkbox">
		<div class="trigger-wrapper">
			<label for="faq-titre-7">
				<h2 class="faq-titre">A partir de quel age peut-on jouer ?</h2>
			</label>
			<p class="faq-contenu">Par précautions, les <strong>enfants de moin de 10 ans ne sont pas accéptés</strong>. Le contenu de certains de nos jeux <strong>n'est pas adapté aux enfants d'un certain âge</strong>. Par ailleurs, nous conseillons <strong>la présence d'un adulte</strong> pour les groupes composés de joueurs de moins de 13 ans.</p>
		</div>
	</div>
</section>