
    <footer class="footer-width" >
        <img src="" alt="VIRTUALITY"><!--LOGO-->
        <section>
                
            <a href="https://fr-fr.facebook.com/" class="f"><i class="fab fa-facebook-f "></i> facebook/virtuality</a>
            <a href="https://twitter.com/" class="t"><i class="fab fa-twitter t"></i> @virtuality255</a>
            <a href="https://www.instagram.com/?hl=fr" class="i"><i class="fab fa-instagram i"></i> @virtuality</a>
            <a href="https://www.youtube.com/" class="y"><i class="fab fa-youtube y"></i> Virtuality</a>
        </section>

        <section>
            <a href="{{ path("contact") }}">Contact</a>
            <span> | </span>
            <a href="#">Réservation</a>
            <span> | </span>
            <a href="{{ path("contact") }}">FAQ</a>
            <span> | </span>
            <a href="{{ path("cgu") }}">Mention legale</a>
        </section>
        <hr>

        <p>&copy; 2021 VIRTUALITY. TOUS DROITS RESERVES</p>


    </footer>
