
    <footer class="footer-width" >
        <img src="" alt="logo"><!--LOGO-->
        <section>
                
            <i class="fab fa-facebook-f f"></i>
            <i class="fab fa-twitter t"></i>
            <i class="fab fa-instagram i"></i>
            <i class="fab fa-youtube y"></i>
        </section>

        <section>
            <a href="{{ path("contact") }}">Contact</a>
            <span> | </span>
            <a href="#">Réservation</a>
            <span> | </span>
            <a href="#">FAQ</a>
            <span> | </span>
            <a href="#">Mention legale</a>
        </section>
        <hr>

        <p>&copy; 2021 VIRTUALITY. TOUS DROITS RESERVES</p>


    </footer>
