<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Virtuality{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('menu') }}
            {{ encore_entry_link_tags('home') }}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    {% include "_menu.html.twig" %} 
    <body>
        {% block body %}{% endblock %}
    </body>
</html>