<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Virtuality{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('menu') }}
            {{ encore_entry_link_tags('home') }}
            {{ encore_entry_link_tags('footer') }}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include "_menu.html.twig" %}
        
        {% block body %}{% endblock %}
        
        {% include "_footer.html.twig" %}
    </body>
</html>