{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="error">
    <h1>Error 404:</h1>
    <h1>La page que vous recherchez n'existe pas ou est introuvable</h1>
</div>
{% endblock %}